// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Colors from TABI color scheme

// main colors
$orange: #FC7E57;
$teal: #97D0D3;
$lila: #70417A;
$dark_lila: #301138;
$salmon: #FD7979;

// font colors
$blackish: #0F1420;
$dark_grey: #63605E;

// background colors
$pale: #FEF7F3;
$light_brown: #E5D8C9;
