#stop-header {
  background-color:#fc8f8f;
  border-radius: 30px;
}

.pages-background {
  background-color: white;
}

#stops-list {
  align-items: center;
}
.stop-list-item {
  width: 400px;
  justify-content: center;
  padding: 5px;
  justify-content: center;
  margin: 5px;
}
