<li class="activity-card card d-flex flex-row justify-content-between rounded-pill px-2 py-1 bg-light-subtle">

    <!-- ACTIVITY NAME -->
  <div class="activity-name flex-grow-1">
    <%= activity.name %>
  </div>

  <!-- FAVORITE ICON -->
  <div class="favorite">
    <% if activity.favorite %>
      <i class="fa-solid fa-heart"></i>
    <% else %>
      <i class="fa-regular fa-heart"></i>
    <% end %>
  </div>
</li>
