<li class="activity-card card d-flex flex-row justify-content-between rounded-pill px-2 py-1 bg-light-subtle">

    <!-- ACTIVITY NAME -->
  <div class="activity-name flex-grow-1">
    <%= activity.name %>
  </div>

  <!-- ICONS -->
  <div id="activity-icons" class="d-flex">
    <!-- EDIT ICON -->
    <%= link_to edit_activity_path(activity) do %>
      <div class="button">
          <i class="fa-regular fa-pen-to-square"></i>
      </div>
    <% end %>

    <!-- TRASH ICON -->
    <%= link_to activity_path(activity), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <div class="button ms-2">
          <i class="fa-solid fa-trash"></i>
      </div>
    <% end %>

    <!-- FAVORITE ICON -->
    <div class="favorite ms-2">
      <%= link_to favorite_activity_path(activity), data: {turbo_method: :patch} do %>
        <% if activity.favorite %>
          <i class="fa-solid fa-heart"></i>
        <% else %>
          <i class="fa-regular fa-heart"></i>
        <% end %>
    </div>
  </div>
</li>
