<div id="form-container" class="p-3 rounded-5">
  <div id="stop-header" class="d-flex flex-row justify-content-center p-3 m-0 rounded-5">
    <h1>Edit Stop</h1>
  </div>

  <div class="container-edit">
    <%= render "edit_stop_form", stop: @stop %>
    <br>
  </div>
</div>
