<div class="btn-group dropstart align-items-center mx-3 pb-2">
  <i id="user-icon" class="fa-regular fa-circle-user" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 2.5rem;"></i>
  <ul class="dropdown-menu dropdown-menu-dark rounded-3 ">
    <li>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item d-flex justify-content-between align-items-center" do%>
        Log out
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <%end%>
    </li>
  </ul>
</div>
