<!DOCTYPE html>
<html>
<head>
  <title>Trip Landing Page</title>
  <link rel="stylesheet" type="text/css" href="styles.css"> <!-- Link to your compiled CSS -->
</head>
<body>
  <div class="background-container">
    <h1 id=slogan>you'll never trip alone</h1>
    <div class="landing-page">
      <header>
        <h1>Start Your Journey Now</h1>
        <p>STATRT HAVING FUN</p>
        <div class="button-container">
          <a href="#services" class="btn-first">Sign up</a>
          <a href="#login" class="btn-second">Login</a> <!-- Added Login button -->
        </div>
      </header>
      <section id="services">
        <!-- Services content here -->
      </section>
    </div>
  </div>
</body>
</html>
