<div class="background-container">
  <div class="grid-container">
    <%= image_tag "Logo.jpg.png", class: "logo-left" %> <!-- Left logo -->
    <div class="landing-page">
      <header>
        <h1>you'll never trip alone</h1>
        <p>Start Your Journey Now</p>
        <div class="button-container">
          <a href="/users/sign_up" class="btn-first">Sign up</a>
          <a href="/users/sign_in" class="btn-second">Log in</a>
        </div>
      </header>
    </div>
    <%= image_tag "Logo.jpg.png", class: "logo-right" %> <!-- Right logo -->
  </div>
</div>
