.table {
  background-color: aqua;
}


.simple-calendar {
  .day {
    width: 200px !important;
    height: 100px !important;
    background: white;
  }

  .table-striped {height: 150px;}
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}

}


.simple-calendar td {
  height: 150px;
  width: 250px;
}

.simple-calendar .day {

}
