#checklists-index-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  height: calc(100vh - 80px);
  }

  #checklists-header {
    height: 40px;
    padding: 16px;
    margin: 16px;
  }

  #checklists-header-title {
    font-size: 30px;
    font-family: "Roboto";
    font-weight: bold;
  }

  #link-home {
    margin-right: 20px;
  }

  #checklist-templates {
    background-color: $light;
    overflow-y: scroll;
    // Hide scrollbar for IE, Edge and Firefox
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  // Hide scrollbar for Chrome, Safari and Opera
  #checklist-templates::-webkit-scrollbar {
    display: none;
  }
