.flexed-page {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.diary-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.diary-entry-container{
  width: 500px;
}

.calendar-container {
  width: 40%;
}
