#stop-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  height: 100vh;
  background-color: white;
  }

  #stop-header {
    grid-column: span 2;
    background-color: $success;
  }

  #stop-body-left {
    grid-row: span 4;
    background-color: $danger;
  }

  #stop-body-right {
    grid-row: span 4;
    background-color: $info;
  }

  #activities-list {
    overflow-y: scroll;
  }

  // Hide scrollbar for Chrome, Safari and Opera
  #activities-list::-webkit-scrollbar {
    display: none;
  }

  // Hide scrollbar for IE, Edge and Firefox
  #stops-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
