#stop-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  height: calc(100vh - 80px);
  }


  #stop-header {
    height: 40px;
    padding: 16px;
    margin: 16px;
  }
  #stop-description {
    font-size: 20px;
    font-family: "Roboto";
    text-wrap: wrap;

  }
  #stop-header-title {
    font-size: 30px;
    font-family: "Roboto";
    font-weight: bold;
  }

  #stop-header-dates {
    font-size: 20px;
    font-family: "Roboto";
  }

  #activity-body-left {
    overflow-y: auto;
  }

  #activities-list::-webkit-scrollbar {
    display: none;
  }

  // Hide scrollbar for IE, Edge and Firefox
  #activities-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 100%;

  }

  #link-home {
    margin-right: 20px;
  }


  .activity-card {
    text-align: start;
    background-size: cover;
    background-position: center;
    transition: all .3s ease-in-out;
    width: 100%;
    min-height: 80px;
    font-family: "Roboto";
    font-size: 20px;
    background-color: #3AAFA9;
    color: black;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

    h5 {
      font-family: "Roboto";
      font-size: 18px;
      font-weight: bold;
    }

    .activity-category {
      font-size: 16px;
      // font-weight: bold;
    }

    p {
      font-size: 15px;
    }

  }

  .activity-card:hover {
    transform: translateY(-10px);
  }

  #activity-form {
    background-color: #c6e6e2;
    color: black;
    box-shadow: 0 0 15px rgba(0,0,0,0.2); ;
    font-family: "Roboto";
  }
  .btn {
    width: 100%;
  }

  #activity-date {
    font-size: 22px;
    font-family: "Roboto";
    font-weight: bold;
    color: #2B7A78;
    padding: 10px;
  }
