#trip-header-navbar {
  #trip-text {
    i {
      color: $danger;
    }
    p {
      color: $info;
    }
    p:hover {
      color: $danger;
    }
  }
  #navbar-navigation {

    i {
      color: $danger;
    }
    p {
      color: $info;
    }
    p:hover {
      color: $danger;
    }
    #user-icon {
      color: $info;
    }
    #user-icon:hover {
      color: $danger;
    }
  }

  #navbar-right {
    i {
      color: $info;
    }
    p {
      color: $info;
    }
    i:hover {
      color: $danger;
    }
    #user-icon {
      color: $info;
    }
    #user-icon:hover {
      color: $danger;
    }
  }
}
