#trip-header-navbar {
  #trip-text {
    i {
      color: $danger;
    }
    p {
      color: $primary;
    }
    p:hover {
      color: $danger;
    }
  }
  #user-icon {
    color: $primary;
  }
  #user-icon:hover {
    color: $danger;
  }
}
