#trip-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  height: 100vh;
  background-color: white;
  }

  #trip-header {
    grid-column: span 2;
    background-color: $success;
  }

  #trip-body-left {
    grid-row: span 4;
    background-color: $danger;
  }

  #trip-body-right {
    grid-row: span 4;
    background-color: $info;
  }

  .trip-item {
    align-content: center;
  }
