.trips-container {
  display:flex;
  flex-direction: column;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // grid-column-gap: 16px;
  // grid-row-gap: 16px;
  height: calc(100vh - 80px);
  justify-content: space-between;
  }

  #upcoming-container {
    border-bottom: solid gray;
    padding: 16px;
    margin: 16px;
    padding-bottom: 40px;
  }

  #past-container {
    padding: 16px;
    margin: 16px;
  }


  // #trips-header {
  //   height: 40px;
  //   padding: 16px;
  //   margin: 16px;
  // }


  #trips-header-title {
    font-size: 30px;
    font-family: "Roboto";
    font-weight: bold;
  }

    // Hide scrollbar for Chrome, Safari and Opera
    #stops-list::-webkit-scrollbar {
      display: none;
    }

    // Hide scrollbar for IE, Edge and Firefox
    #trips-list {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
     // height: 100%;

    }

    #link-home {
      margin-right: 20px;
    }

    .trip-card:hover {
      transform: translateY(-10px);
    }
    .trip-index-body {
      font-family: "Roboto";
      font-size: 14px;
      background-color:  rgb(173,216,230);

      h5 {
        font-family: "Roboto";
        font-size: 18px;
        font-weight: bold;
      }
    }

    .navbar{
      justify-content: space-between;
      align-items: center;
      height: 80px;
      font-family: "Roboto";
      font-size: 30px;
      font-weight: bold;
      border-bottom: solid gray;
      color: black;
      position: sticky;
      background-color: #2B7A78;
    }

    #trip-text {
      padding:16px;
      margin-left:16px;
    }

    .icons {
      padding:16px;
      margin-right:16px;
      margin-bottom: 10px ;
    }


  .trip-index {

    transition: all .3s ease-in-out;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: rgb(173,216,230);
    height: 100%;
    width: 100%;
    margin: 20px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    color: black;
    border: none;
    font-family: "Roboto";
    margin-top:10px;
  border-radius: 20px 20px;

    img{
      height: 180px;
      width: 420px;
      object-fit: cover;
      border-radius: 10px 10px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);

    }
  }

  .trip-index-body {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
