<!-- CONTENT -->
<div id="checklists-index-container" class="">
  <!-- LEFT BOX -->
  <%= render partial: "checklists_header", checklists: @checklists, checklist_templates: @checklist_templates, trip: @trip %>

  <!-- MIDDLE BOX -->
  <%= render partial: "checklist_container", checklists: @checklists, trip: @trip %>

  <!-- RIGHT BOX -->
  <%= render partial: "checklist_templates/template_container", checklist_templates: @checklist_templates, trip: @trip %>

</div>
