<div id="form-container" class="p-3 rounded-5">

  <div id="stop-header" class="d-flex flex-row justify-content-center p-3 m-0 rounded-5">
    <h1>Edit activity</h1>
  </div>

  <div class="container-new">

    <%= render "edit_activity_form", stop: @stop, activity: @activity%>

    <br>

  </div>
</div>
