<div id="stop-container" class="m-3 p-3 rounded-5">

  <div id="stop-header" class="card d-flex flex-row justify-content-between p-3 m-0 rounded-5"><h1>Create your activity</h1></div>

  <div class="container-new">

    <%= render "form", stop: @stop, activity: @activity%>
<%= link_to "go back", stop_path(@stop)%>

    <br>

  </div>
</div>
